<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from frost.dexignzone.com/xhtml/index-14.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Feb 2020 16:23:02 GMT -->
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="Frost- Multipurpose Coming Soon" />
	<meta property="og:title" content="Frost- Multipurpose Coming Soon" />
	<meta property="og:description" content="Frost- Multipurpose Coming Soon" />
	<meta property="og:image" content="Frost- Multipurpose Coming Soon" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	
	<!-- PAGE TITLE HERE -->
	<title>Frost- Multipurpose Coming Soon</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<link rel="stylesheet" type="text/css" href="css/templete.min.css">
	<link rel="stylesheet" type="text/css" class="skin" href="css/skin/skin-11.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.localizationTool.css">
	<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">	
	
</head>
<body id="bg" class="font-poppins">
<div id="loading-area"><div></div></div>
<div class="page-wraper">
	<canvas class="site-nav-canvas" style="display: none;"></canvas>
    <!-- Content -->
        <!-- Coming Soon Contant -->
        <div class="dez-coming-soon style-7 wow fadeIn snakecolor" data-wow-duration="0.80s" data-wow-delay="0.50s">
			<canvas id="canvas3"></canvas>
			<div class="clearfix dez-coming-bx">
				
				<div class="dez-content top-center posi-center">
					<h2 class="dez-title ml2 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">WELCOME TO <br> <%= sName %></h2>
				</div>
            </div>
        </div>
</div>
<!-- JavaScript  files ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- POPPER.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/countdown/jquery.countdown.js"></script><!-- JQUERY COUNTDOWN -->
<script src="plugins/scroll/scrollbar.min.js"></script><!-- SCROLLBAR -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter.js"></script><!-- MASONRY -->
<script src="plugins/lightgallery/js/lightgallery-all.min.js"></script><!-- LIGHTGALLERY -->
<script src="plugins/colorful-snakes/colorful-snakes.js"></script><!-- Colorful Snakes JS -->
<script src="plugins/colorful-snakes/colorful-snakes.app.js"></script><!-- Colorful Snakes JS -->
<script src="js/jquery.localizationTool.js"></script><!-- localizationTool JS -->
<script src="js/translator.js"></script><!-- Translator JS -->
<script src="js/custom.min.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.ajax.js"></script><!-- CONTACT JS  -->
<script src="js/wow.js"></script><!-- WOW JS -->
<script src="plugins/anime/anime.min.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="plugins/anime/app.js"></script><!-- CUSTOM FUCTIONS  -->
<script src='../../www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
<div class="site-nav-overlay js-nav" style="opacity: 0;"></div>
</body>

<!-- Mirrored from frost.dexignzone.com/xhtml/index-14.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Feb 2020 16:23:09 GMT -->
</html>
